* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Platypi', sans-serif;
}

body {
    height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3.4375rem;
    background-image: url(./assets/img-youmeko-marry.png);
    background-size: cover;
}

.title {
    margin-bottom: 2.1875rem;
}

.geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 11.375rem;
    height: 18.0625rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    height: 15.125rem;
    width: 10.5rem;

}

.container:hover .flip {
    transform: rotateY(180deg);
}


.flip {
    position: absolute;
    width: 84%;
    height: 74%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.9s;
    perspective: 62.5rem;
}

.front,
.back {
    position: absolute;
    width: 114%;
    height: 115%;
    border-radius: 0.25rem;
    box-shadow: 0rem 0rem 0.625rem #0000001b;
    backface-visibility: hidden;
}

.front {
    background-image: url(./assets/Carta\ Kakegurui.jpeg);
    background-size: cover;
}

.back {

    transform: rotateY(180deg);
}

.results {
    display: table-column;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.your-score span {
    color: #34B700;
}

.machine-score span {
    color: rgb(12, 12, 202);
}


@media screen and (max-width: 600px) {
    body {
        background-image: url(./assets/planodefundo-img.png);
        background-size: cover;
        padding: 0px;
    }

    .title {
        margin-bottom: 22px;
        margin-right: 10px;
    }

    .cards {
        margin-right: 19px;
        margin-bottom: -106px;
    }

    .container {
        margin-left: 20px;
        width: 7.375rem;
    }

    .flip {
        width: 64%;
        height: 57%;
    }

    .front,
    .back {
        width: 166%;
        height: 107%;
    }

    img {
        width: 124px;
        height: 177px;
        margin-left: 52px;
    }

    .results {
        margin-top: 34px;
    }
}

@media screen and (max-width: 430px) {
    .geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 109px;
    }

    .title {
        margin-right: 12px;
    }

    .cards {
        margin-left: -11px;
    }

    .front,
    .back {
        width: 179%;
        height: 115%;
    }

    img {
        width: 143px;
        height: 190px;
        margin-left: 52px;
    }

    .results {
        margin-right: 31px;
    }
}

@media screen and (min-width:412) {

    .cards {
        margin-left: 107px;
    }

    .front,
    .back {
        width: 146%;
        height: 107%;
    }


}

@media screen and (max-width: 390px) {

    .title {
        margin-right: 3px;
    }

    .cards {
        margin-left: 2px;
    }

    .container {
        width: 5.375rem;
        height: 13.0625rem;
    }

    .back {
        margin-left: -36px;
    }

    img {
        width: 96px;
        height: 133px;
        margin-left: 3px;
    }
}


    

/* 430 412 360 344 320  */